@charset "utf-8";
/* CSS Document */

#header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
}

p.headerText {
    position: relative;
    margin-left: 60px;
    color: rgb(58, 90, 130);
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
}

#main {
    position: absolute;
    left: 0;
    width: 100%;
    top: 60px;
    background-color: rgb(255,255,255);
}

div.frage {
    font-size: 55px;
    text-align: center;
    font-family: Helvetica;
    font-weight:bold;
    position: relative;
    margin-top: 20px;
}

#footer {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 150px;
}

img.logo {
    position: absolute;
    height: 100%;
    right: 10px;
    padding: 15px 0;
    box-sizing: border-box;
}

.image-button {
    width: 100%;
    margin-top: 0;
    position: relative;
}
.button {
    width: 18%;
    position: relative;
    background-color: #ffffff;
    border: none;
}

p.answerOption {
    font-size: 20px;
}

p.copyrightText {
    position: relative;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}


#bewertung {
    width: 100%;
    height: 20%;
    float: left;
    position: relative;
    margin-top: 10%;
    text-align: center;
}
div.answerOption {
    width: 100%;
    position: relative;
    margin-top: 25px;
}
div.answerOption-field {
    text-align: center;
}
p.buttonname {
    width: 18%;
    float: left;
    text-align: center;
}
p.error-message {
    font-size: 55px;
    text-align: center;
    font-family: Helvetica;
    font-weight:bold;
    color: #FF0000;
    position: relative;
    margin-top: 150px;
}
p.detail-error-message {
    font-size: 15px;
    text-align: center;
    font-family: Helvetica;
    color: #000000;
}

/*
Admin Bereich
*/
/*Login
*/
div.admin-content{
    margin: auto;
    width: 415px;
    height: 350px;
    margin-top: 100px;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
}
div.admin-content-header {
    background-color: #99A7FF;
    height: 80px;
}
img.login-logo {
    height: 80px;
}
p.admin-content-headername {
    font-family: 'Roboto Mono';
    font-size: 70px;
    text-align: center;
    margin-top: -90px;
    color: #FFFFFF;
}
div.login-form {
    margin-top: 30px;
    margin-left: 30px;
}
label.username {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
    font-size: 20px;
    transition: 1s;
    color: #99A7FF;
}
/*label.username:active {*/
    /*font-size: 10px;*/
/*}*/
#username {
    margin-bottom: 20px;
    margin-left: 35px;
    margin-top: 5px;
    width: 310px;
    font-size: 20px;
    border-bottom: 2px solid #99A7FF;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    font-family: 'Roboto Mono';
}
label.password {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
    font-size: 20px;
    transition: 1s;
    color: #99A7FF;
}
/*label.password:active {*/
    /*font-size: 10px;*/
/*}*/
#password {
    margin-bottom: 20px;
    margin-left: 35px;
    margin-top: 5px;
    width: 310px;
    font-size: 20px;
    border-bottom: 2px solid #99A7FF;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    font-family: 'Roboto Mono';
}
button.login-button {
    margin-top: 20px;
    margin-left: 40px;
    width: 260px;
    height: 40px;
    background-color: #99A7FF;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #99A7FF;
    z-index: 10000;
}
p.header-heading {
    font-family: 'Roboto Mono';
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}
nav.navigation {
    position: fixed;
    left: 30px;
    top: 170px;
    color: #FFFFFF;
}
a {
    margin-left: 25px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
}
a.active {
    border-bottom: 2px solid #BCF5A9;
}
button.button-auswerten {
    position: fixed;
    right: 80px;
    top: 165px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #BCF5A9;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
    font-size: 25px;
    color: #99A7FF;
    cursor: pointer;
}
button.button-add {
    position: fixed;
    right: 190px;
    top: 165px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #BCF5A9;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
    font-size: 25px;
    color: #99A7FF;
    cursor: pointer;
}
div.logout-button {
    color: #FFFFFF;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

/*change_survey, all_survey*/

main.all-change-survey {
    margin-top: 270px;
    margin-left: 30px;
    margin-right: 30px;
}
table {
    width: 100%;
    text-align: center;
}
tr {
    height: 40px;
}
tr.table-header {
    height: 100px;
}
th {
    font-family: 'Roboto Mono';
    font-size: 30px;
    color: #868686;
}
td {
    font-family: 'Roboto Mono';
    font-size: 15px;
    color: #4A4A4A;
}
td.icon-row {
    width: 100px;
}
td.survey-id {
    display: none;
}
a.info-icon, a.delete-icon, a.noChange-icon, a.save-icon{
    color: #4A4A4A;
    font-size: 20px;
    cursor: pointer;
}
a.save-icon :hover, a.noChange-icon :hover, a.delete-icon :hover, a.info-icon :hover{
    color: #000000;
}
table input {
    width: 100px;
}
/*add survey*/
main.add-statistic-survey {
    margin: auto;
    margin-top: 270px;
    width: 350px;
    text-align: center;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
}
input {
    border-bottom: 2px solid #99A7FF;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    font-family: 'Roboto Mono';
}
input.input-question {
    margin-top: 30px;
}
#datepicker-end, #datepicker-start {
    width: 100px;
    margin-top: 10px;
}
select.status {
    margin-top: 10px;
}
select.devices {
    margin-top: 10px;
}
select.answerQuantity {
    margin-top: 10px;
}
button.newSurvey-button {
    width: 260px;
    height: 40px;
    background-color: #99A7FF;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(115,111,113,1);
    margin-bottom: 25px;
}

/*
statistic area
*/
td.icon-statistic {
    font-size: 20px;
    cursor: pointer;
}