{% extends "::base.html.twig" %}

{% block title %}AppBundle:Survey:allSurvey{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <main class="insert-main">
        <div class="add-statistic-survey">
            <form action="{{ path('addSurvey') }}" class="add-survey-form" method="post">
                <input class="input-question" name="question" type="text" placeholder="Frage">
                <br>
                <input class="date" id="datepicker-start" name="startDate" placeholder="Startzeit">
                <input class="date" id="datepicker-end" name="endDate" placeholder="Endzeit">
                <br>
                <select class="status" title="Status" name="status">
                    <option value="" disabled selected>Status</option>
                    <option>Aktiv</option>
                    <option>Inaktiv</option>
                </select>
                <br>
                <select class="devices" title="Geräte" name="device">
                    <option value="" disabled selected>Geräte</option>
                    {% for device in allDevices %}
                        <option value="{{ loop.index }}">{{ device.connection }}</option>
                    {% endfor %}
                </select>
                <br>
                <select class="answerQuantity" name="answerQuantity" title="Buttonanzahl">
                    <option value="" disabled selected>Buttonanzahl</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <br>
                <div class="answerOption">
                </div>
                <br>
                <button class="newInsert-button">Erstellen</button>
            </form>
        </div>
        <div class="add-devices">
            <form action="{{ path('addSurvey') }}" method="post">
                <input name="newdevice" placeholder="neues Gerät">
                <button class="newInsert-button">Erstellen</button>
            </form>
        </div>
    </main>
{% endblock %}