{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="admin-content">
        <div class="admin-content-header">
            <div class="admin-content-header-logo">
                <img class="login-logo" src="{{ asset('images/bosch.jpg') }}">
            </div>
        </div>
        <div class="login-form">
            {% if error %}
                <div class="error-message"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <label class="username" for="username">Name</label>
                <br>
                <input type="text" id="username" name="_username"/>
                <br>
                <label class="password" for="password">Passwort</label>
                <br>
                <input type="password" id="password" name="_password"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
