{% extends "::base.html.twig" %}

{% block title %}AppBundle:Bewertung:bewertung{% endblock %}

{% block body %}
    <div id="header">
        <p class="headerText">Allgemeine Umfrage</p>
    </div>
    <div id="main">
        <div class="frage">

        </div>
        <form action="{{ path('bewertungAction') }}" method="post">
            <div id="bewertung">

            </div>
        </form>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.png') }}" class="logo">
        <p class="copyrightText">Corporate Design © Robert Bosch GmbH</p>
    </div>

    <div id="popUp">
        <p class="popUpNachricht">Danke für Ihre Bewertung</p>
    </div>
{% endblock %}
