{% extends "::base.html.twig" %}

{% block title %}Bosch Umfrage{% endblock %}

{% block body %}
    <div id="header">
        <p class="headerText">Allgemeine Umfrage</p>
    </div>
    <div id="main">
        <div class="frage">
            {{ survey['question'] }}
        </div>
        <div id="bewertung">
            {% for source in buttonsources %}
                <a href="#">
                    <input type="image" src="{{ asset(source) }}" name={{ loop.index }}/>
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.png') }}" class="logo">

        <p class="copyrightText">Corporate Design © Robert Bosch GmbH</p>
    </div>

    <div id="popUp">
        <p class="popUpNachricht">Danke für Ihre Bewertung</p>
    </div>
{% endblock %}
