{% extends "::base.html.twig" %}

{% block title %}Bosch Umfrage{% endblock %}

{% block body %}
    <div id="main">
        <p class="error-message">{{ errormessage }}</p>
        <p class="detail-error-message">ERROR: {{ detailerror }}</p>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.jpg') }}" class="logo">
    </div>
{% endblock %}