{% extends "::base.html.twig" %}

{% block title %}Bosch Umfrage{% endblock %}

{% block body %}
    <div id="header">
        <p class="headerText">Allgemeine Umfrage</p>
    </div>
    <div id="main">
        <p class="error-message">{{ errormessage }}</p>
        <p class="detail-error-message">ERROR: {{ detailerror }}</p>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.png') }}" class="logo">

        <p class="copyrightText">Corporate Design © Robert Bosch GmbH</p>
    </div>
{% endblock %}